nav {
    background-color: #434343;
    border-radius: 5px;
    height: 70px;
    line-height: 70px;
    max-width: 3000px;
}
menu {
    list-style: none;
}
menu li {
    display: inline-block;
    padding: 0 25px;
}
menu li a {
    display: inline-block;
    height: 70px;
    color: #8f8f8f;
    text-decoration: none;
}
menu li a :hover{
    color: #767676;
    text-decoration: underline;
}