.form#pollForm {
    display: flex; /* Устанавливаем контейнер как flex-контейнер */
    flex-direction: column; /* Элементы располагаются в колонку */
    align-items: flex-start; /* Выравнивание элементов по началу контейнера */
    margin: 20px; /* Отступы вокруг формы */
}
